.product-group {
    display: grid;
    grid-template-columns:repeat(3,auto);
    grid-auto-flow:row;
    gap:10px;
    border:5px solid yellow;
    width:1300px;
}

.product-group-item {
    width:310px;
    height:500px;
}
.card-img-top {
    height:300px;
}