@tailwind base;
@tailwind components;
@tailwind utilities;


.product-card:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}


.swiper-slide img {
    width: 100%;
    height: 250px; /* Adjust height as per your design */
    object-fit: cover;
}

.swiper-container {
    position: relative; /* Make it the parent for relative positioning */
    padding-bottom: 50px; /* Add space at the bottom for pagination */
}



